<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <button onclick="window.location.href = '/';">Main</button> <button onclick="window.location.href = '/songs';">Songs</button> <button onclick="window.location.href = '/genres';">Genres</button> <button onclick="window.location.href = '/artists';">Artists</button>
    <button onclick="window.location.href = '/songs/new';">New Song</button>
    <%= yield %>
  </body>
</html>
